body {
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(1, 6, 10);
  color: silver;
  margin: 0 auto;
  font-family: monospace;
  animation: fadein 2s;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* font-size: larger; */
}

body::-webkit-scrollbar {
  display: none;
}

.sendInqMobile {
  display: none;
}

a {
  text-decoration: none;
  color: silver;
}

body > div {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

/* .overallContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
} */

.container {
  flex-direction: row;
}

/* Part1 */
.part1 {
  width: 20%;
  /* background-color: violet; */
}
.part1::after {
  content: "02";
  position: absolute;
  font-size: 400px;
  overflow: hidden;
  z-index: -4;
  color: rgba(56, 52, 52, 0.377);
  top: 5%;
  right: 60%;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 1em;
  filter: drop-shadow(1px 4px 2px silver);
}
.smallbox {
  width: 15px;
  height: 25px;
  display: flex;
  background-color: silver;
  justify-content: center;
  align-items: center;
  margin-left: 0.4em;
}

.biggerbox {
  width: 15px;
  height: 40px;
  display: flex;
  background-color: silver;
  justify-content: center;
  align-items: center;
}

/* Part 2 */
.part2 {
  margin-left: 6em;
}
.part2container {
  width: 100%;
  padding-top: 40px;
}

.MainNav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10em;
  align-items: center;
  position: relative;
  top: 1.9em;
}

.fb {
  animation: slide-right 1.5s forwards;
  transform: translateY(-100%);
}

.twitter {
  animation: slide-right 2s forwards;
  transform: translateY(-100%);
}

.instagram {
  animation: slide-right 2.5s forwards;
  transform: translateY(-100%);
}

.minilogo {
  height: 50px;
  width: 50px;
  background: url("./images/face.jpg");
  background-size: contain;
  border-radius: 50%;
  margin-bottom: 2em;
  filter: drop-shadow(0 0 0.55rem rgb(79, 82, 83));
  animation: slide-right 1s forwards;
  transform: translateY(-100%);
}

.catch {
  /* background-color: yellow; */
  width: 100%;
  font-size: 22px;
  animation: fadein 3s;
  animation: slide-right 0.5s forwards;
  transform: translateY(-100%);
}

.catchphrase {
  color: white;
}
.catchphrase::after {
  content: " have values.";
  display: block;
}

.paragraph {
  /* background-color: violet; */
  margin-bottom: 3rem;
}

.paragraph > p {
  width: 80%;
  font-size: 14px;
  animation: fadein 3s;
}

.lastp {
  margin-bottom: 0;
}

.readMore {
  width: fit-content;
  color: rgb(214, 156, 92);
  animation: fadein 5s;
}
.endcategory {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  top: 10%;
  /* background-color: thistle; */
}

.endcategory > span {
  width: 10%;
  margin-left: 1em;
}

/* part 3 */
.part3 {
  background: url("./images/Image1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -5em;
  background-position-x: 80%;
  z-index: 1;
  background-color: rgb(1, 6, 10);
  animation: slide-right 1.5s forwards;
  transform: translateX(100%);

  /* background-color: rgb(170, 123, 77); */
}

.frosted {
  display: flex;
  flex-direction: row;
  height: 7em;
  width: 110%;
  position: relative;
  top: 33em;
}

.frosted > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  z-index: -1;
}

.frosted1 {
  backdrop-filter: blur(50px);
  color: rgb(170, 123, 77);
  z-index: -1;
}
.frosted2 {
  color: rgb(170, 123, 77);
}
.frosted3 {
  background-color: rgb(170, 123, 77);
  color: white;
}

/* Part 4 */
.part4 {
  width: 20%;
  font-size: 12px;
  background-color: transparent;
}

.doubledash {
  text-align: center;
}

.textcontainers {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: scale(-1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.textcontainers > h3 {
  margin-top: 4em;
}

.sendInquiry {
  font-size: 14px;
  display: flex;
  width: fit-content;
  /* background-color: aliceblue; */
  position: relative;
  right: 0;
  left: 75%;
  top: 60%;
}

.bars {
  position: relative;
  width: 70%;
  top: 2.2em;
  filter: drop-shadow(1px 4px 2px silver);
}

footer {
  font-size: smaller;
  position: absolute;
  top: 85%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1;
  animation: slide-right 1s forwards;
  transform: translateY(-100%);
}

footer > p {
  margin-bottom: 0;
}

footer > p > a {
  color: rgb(170, 123, 77);
}

/* ================== Mobile Screen ================= */
@media only screen and (max-width: 425px) {
  .MainNav {
    visibility: hidden;
  }

  .mobileNav {
    /* background-color: whitesmoke; */
    margin: 0 auto;
    position: absolute;
    z-index: 2;
    /* bottom: 17%; */
      display: flex;
  align-items: center;
  justify-content: space-evenly;
  width:40% ;
  top: 3%;
  transform: scale(1.2);
  }

  .fab{
    font-size: 17px;
    color: silver;
  
  }

  .mobileNav>button{
    background-color: transparent;
    border: 1px solid rgb(192, 192, 192);
   padding: 0.5em 0.6em;
   margin: 0 auto;
  }



button {
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

button:hover {
  box-shadow: rgba(170,123,77,.35) 0 -25px 18px -14px inset,rgba(170,123,77,.25) 0 1px 2px,rgba(170,123,77,.25) 0 2px 4px,rgba(170,123,99,.77) 0 4px 8px,rgba(170,123,77,.25) 0 8px 16px,rgba(170,123,77,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
  border: 0;
  border-color: transparent;
}



  .fb-mobile {
    animation: slide-right 1s forwards;
    transform: translateY(-100%);
  }

  .tw-mobile {
    animation: slide-right 1.5s forwards;
    transform: translateY(-100%);
    margin-left: 10px;
  }

  .in-mobile {
    animation: slide-right 2s forwards;
    transform: translateY(-100%);
    margin-left: 10px;
  }


  .fa-facebook {
    animation: slide-right 1.2s forwards;
    transform: translateY(-100%);
  }

  .fa-twitter {
    animation: slide-right 1.2s forwards;
    transform: translateY(-100%);
  }

  .fa-instagram {
    animation: slide-right 1.5s forwards;
    transform: translateY(-100%);
  }

  .boxes {
    position: relative;
    left: 3em;
  }

  .minitext {
    position: relative;
    left: 3em;
  }

  .part3 {
    background-position-x: 60%;
    z-index: 1;
  }
  .frosted {
    flex-direction: column;
    height: 30%;
  }

  .frosted1,
  .frosted2,
  .frosted3 {
    width: 100%;
    height: 60%;
    overflow: hidden;
  }

  .paragraph {
    margin-bottom: 1em;
  }
  .lastp {
    width: 80%;
    font-size: 9px;
    margin-bottom: 4em;
  }

  .catch {
    font-size: 20px;
  }
  .readMore {
    margin-bottom: 0;
  }
  .sendInquiry {
    display: none;
  }

  .sendInqMobile {
    display: flex;
    position: relative;
    top: 57%;
    font-size: smaller;
  }

  .endcategory {
    top: 20px;
  }
  .part4 {
    backdrop-filter: blur(10px);
  }

  footer > p {
    position: relative;
    top: 150px;
  }
}

@media only screen and (max-width: 768px) {
  .sendInquiry {
    top: 70%;
    left: 50%;
  }

  footer {
    top: 92%;
    font-size: 8px;
    margin: 0 auto;
  }
  footer > p {
    margin-bottom: 0;
  }
}

/* Animations */
@keyframes slide-right {
  to {
    transform: translateX(0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
